body{
    background-color: antiquewhite;
}

.product-wrap {
    width: 300px;
    height: 400px;
    border: 1px solid red;
    background-color:brown ;
}

.productDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ContentData {
width: 300px;
height: 400px;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

h2{
    font-size: 20px;
    color: white;
    margin: 10px;
}
h6{
    font-size: 20px;
    color: white;
    margin: 10px;
}